<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include media-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {%- endif -%}
    </a>

    <a class="site-title d-block" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <p class="site-subtitle fst-italic mb-0">{{ site.tagline }}</p>
    <details>
      <summary>Who am I?</summary>
      <p>M.Sc. Bioinfo + 5yr pharma exp. | Scientific computing is my passion. Currently writing a DNA sequence alignment, quasi-mapper, and graph algorithm and manuscript (for bioRxiv). I enjoy practicing math rock and samba/bossa-nova on my guitars, I write open-source software on GitHub, and I work in the DE-NJ-PA tri-state area based in Newark.</p>
    </details>
    <details>
      <summary>Consulting & Webdev</summary>
      <bold>Terra Info. LLC.</bold>


      <!-- NOTE: Fix the terrainfo.dev link here. -->
      <a href="#">
	<p>Regional web-development company: personal, lab, project, and documentation sites, LIMS systems... focus on modern style. < $1k : get yours today!</p>
      </a>
      <div>
	{%- capture logo_url -%}
        {% include media-url.html src=site.logo %}
	{%- endcapture -%}
	<img src="{{- logo_url -}} " height="84" width="384" alt="logo" onerror="this.style.display='none'"/>
    </div>

    
  </header>
  <!-- .profile-wrapper -->

  <nav class="flex-column flex-grow-1 w-100 ps-0">
      <ul class="navbar-nav me-auto">
	<!-- home -->
	<li class="nav-item{% if tab.layout == 'home' %}{{ " active" }}{% endif %}">
          <a href="{{ '/' | relative_url }}" class="nav-link">
            <i class="fa-fw fas fa-home"></i>
            <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
          </a>
	</li>

	<!--     A B O U T     -->
	<li class="nav-item">


	  <a class="nav-link navbar-toggler dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#aboutContent" aria-controls="aboutContent" aria-expanded="false">
	    <i class="fa-fw fas fa-info-circle"></i>	    
	    
	    <span>ABOUT</span>
	  </a>
	  <div id="aboutContent" class="collapse navbar-collapse">
	    
            <ul class="navbar-nav me-auto list-group list-group-flush">
	      <li class="nav-item list-group-item">
		<a class="dropdown-item" href="/about">
		  <u>About Me</u>
		</a>
	      </li>
              <div class="dropdown-divider"></div>
	      <li class="nav-item list-group-item">
		<strong>Subjects:</strong>
	      </li>
              <div class="dropdown-divider"></div>
	      <li class="nav-item">
		<a class="dropdown-item" href="/biosciences"><u>Biology &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🧫👨🏽‍🔬&nbsp;&nbsp;</u></a>
	      </li>
	      <li class="nav-item">
		<a class="dropdown-item" href="/data_science"><u>Data Science &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;🧮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></a>
	      </li>
	      <li class="nav-item">
		<a class="dropdown-item" href="/research"><u>Research &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 🗂️📑&nbsp;&nbsp;&nbsp;</u></a>
	      </li>

              <div class="dropdown-divider"></div>
	      <li class="nav-item list-group-item">
		<strong>Software:</strong>
	      </li>
              <div class="dropdown-divider"></div>
	      <li class="nav-item">
		<a class="dropdown-item" href="/software"><u>Software &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 🧑‍💻 &nbsp;&nbsp;&nbsp;</u></a>
	      </li>
	      <li class="nav-item">
		<a class="dropdown-item" href="/data_science"><u>Bioinf & Data Sci.&nbsp;&nbsp;&nbsp;&nbsp;🧬📊&nbsp;&nbsp;</u></a>
	      </li>
	      <li class="nav-item">
		<a class="dropdown-item" href="/research"><u>Genomics Research   🦠🧪</u></a>
	      </li>
	      <li class="nav-item">
		<a class="dropdown-item" href="/cloud_native"><u>DevOps & Cloud&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ☁️&nbsp;&nbsp;&nbsp;&nbsp;</u></a>
	      </li>
	      <li class="nav-item">
		<a class="dropdown-item" href="/portfolio"><u>Portfolio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🗄️ &nbsp;&nbsp;&nbsp;&nbsp;</u></a>
	      </li>
	  </div>
	</li>
	<!-- End About mini-nav Bootstrap 5.3 'collapse' -->

	<!--         E N D      A B O U T               -->

	<!--       a d d i t i o n a l     p a g e s    -->
	<li class="nav-item">
	  <a href="/portfolio" class="nav-link">
	    <i class="ai ai-open-data"></i>
	    <span>Portfolio</span>
	  </a>
	</li>
	<li class="nav-item">
	  <a href="/cv" class="nav-link">
	    <!-- <i class="fa-fw fas fa-file"></i> -->
	    <i class="ai ai-cv"></i>
	    <span>Résumé / C.V.</span>
	  </a>
	</li>
	<li class="nav-item">
	  <a href="/cv" class="nav-link">
	    <i class="fas fa-envelope-circle-check"></i>
	    <span>CONTACT</span>
	  </a>
	</li>





	<!--     B L O G     -->
	<li class="nav-item">
	  <a class="nav-link navbar-toggler dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#blogContent" aria-controls="blogContent" aria-expanded="false">
	    <i class="fa-fw fas fa-info-circle"></i>	    
	    <span>BLOG</span>
	  </a>
	  <div id="blogContent" class="collapse navbar-collapse">
	    
            <ul class="navbar-nav me-auto list-group list-group-flush">
	      <li class="nav-item">
		<a href="/archives" class="nav-link">
		  <!-- <i class="fa-fw fas fa-file"></i> -->
		  <i class="ai ai-conversation"></i>
		  <span>Read Blog</span>
		</a>
	      </li>
	      <!--  B L O G       R E L A T E D      T A B S -->
	      
              <div class="dropdown-divider"></div>
	      <li class="nav-item list-group-item">
		<strong>Blog Contents:</strong>
	      </li>
              <div class="dropdown-divider"></div>

	      <!-- the real tabs -->
	      {% for tab in site.tabs %}
              <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
		<a href="{{ tab.url | relative_url }}" class="nav-link">
		  <i class="fa-fw {{ tab.icon }}"></i> <!-- NOTE: TAB BAR ICONS -->
		  {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}

		  <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
		</a>
              </li>
              <!-- .nav-item -->
	      {% endfor %}
	    </ul>
	  </div>
	</li>
      </ul>
    </div>
  </nav>
  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->
